* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fcontainer {
  border: 5px solid gray;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  /* flex-direction: row;(default) */
  /* justify-content: flex-start;(default) */
  /* justify-content: space-evenly; */
}

.fitem {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 0);
  border: 2px solid black;
  margin: 5px;
}
.one {
  flex-grow: 0;
  align-self: center;
}
.two {
  order: 0;
  flex-grow: 4;
  align-self: flex-end;
}
.three {
  flex-grow: 0;
}
.four {
  order: 0;
  flex-grow: 4;
  align-self: center;
}

.five {
  flex-grow: 3;
  align-self: end;
}
.six {
  order: 0;
  flex-grow: 6;
}
